:host{
    display: flex;
}

.Seperator{
    margin: 3px;
    border-left: 0.5px solid var(--app-mid-foreground);
    transition:var(--app-transition-time);
    /* rgb(156, 156, 156) */
}

.NavButton{
    color: var(--app-main-foreground);
    padding-left:4px;
    padding-right: 4px;
    margin-top:4px;
    margin-bottom: 4px;
    background-color: transparent;
    border:none;
    transition:var(--app-transition-time);
}

/* .NavButton:hover{
    color:#ffa7b6;
    transition: 0.4s;
}

.NavButton:hover:focus{
    color:#ffa7b6;
    transition:0.1s;
    
}
.NavButton:focus:active{
    font-size: large;
    transition: 0.1s;

}

.NavButton:active{
} */
