:host{
    display: grid;
    width: 100%;
    height: 100%;
}
.AppContainer{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    background-color: var(--app-primary-low);
    transition: var(--app-transition-time);
}
.TitleBar{
    display: flex;
    justify-content: center;
    align-content: center;
    grid-row: 1/2;
    background-color: var(--app-primary-high);
    transition: var(--app-transition-time);
}
.NavBar{
    background-color: var(--app-primary-medium);
    display: flex;
    transition: var(--app-transition-time);
}
.FirstSeperator{
    margin: 2px;
}


.TitleText{
    font-size:46px;
    color: var(--app-main-foreground);
    text-align: center;
    display: inline-block; 
    transition: var(--app-transition-time);

}
.ThemeToggler{
    margin:20px;
    margin-left: auto;
    position:relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    
}
.ThemeToggler input{
    opacity: 0;
    width: 0;
    height: 0;
}
.RoundSlider{
    position:absolute;
    cursor: pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #ccc;
    border-radius: 34px;
    background-color: var(--app-accent);
    transition: var(--app-transition-time);
}
.RoundSlider:before{
    position:absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}
input:checked + .RoundSlider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }