<app-scroll-view>
    <div class="ListViewContainer" *ngIf="(list$ | async) as list">
        <app-list-view-widget [list]="list">

        </app-list-view-widget>
        <div class="ItemsContainer">
            <div class="Seperator"></div>
            <app-list-item-ticker [item]="item" *ngFor="let item of (itemsList$ | async)">{{item.caption}}</app-list-item-ticker>
            <app-list-item-adder (newItemEvent)="onItemAdded($event)"></app-list-item-adder>
        </div>
    </div>
</app-scroll-view>