:host{
    width: 100%;
    height: 100%;
    display: grid;
}

.Seperator{
    border-bottom: 1px solid var(--app-main-foreground);
}

.ItemsContaier{
    display: flex;
}
.ListViewContainer{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
}