<app-scroll-view>
    <div class="GridContainer">
        <!-- need to add output to app-card for it to work -->
        <app-card-button (click)="CardClicked()"></app-card-button>
        <app-card-button (click)="CardClicked()"></app-card-button>
        <app-card-button (click)="CardClicked()"></app-card-button>
        <app-card-button (click)="CardClicked()"></app-card-button>
        <app-card-button (click)="CardClicked()"></app-card-button>
        <app-card-button (click)="CardClicked()"></app-card-button>
        <app-card-button (click)="CardClicked()"></app-card-button>
        <app-card-button (click)="CardClicked()"></app-card-button>
    </div>
</app-scroll-view>