<app-scroll-view>
    <div class="GridContainer">
        <app-card-button></app-card-button>
        <app-card-button></app-card-button>
        <app-card-button></app-card-button>
        <app-card-button></app-card-button>
        <app-card-button></app-card-button>
        <app-card-button></app-card-button>
        <app-card-button></app-card-button>
        <app-card-button></app-card-button>
        <app-card-button></app-card-button>
        <app-card-button></app-card-button>
        <app-card-button></app-card-button>
        <app-card-button></app-card-button>
    </div>
</app-scroll-view>