<div class="WidgetActiveContainer">

    <div class="TextAndIconContainer">
        <mat-icon class="Icon" [style.color]="list.color">
            {{list.icon}}
        </mat-icon>
        <p *ngIf="!deletePressed;else deleteMessage" class="DescriptionText">
            {{list.description}}
        </p>
        <ng-template #deleteMessage>
            <p class="DeleteMessage">
                Are you sure you want to delete the entire list?
            </p>
        </ng-template>
    </div>

    <div *ngIf="!deletePressed;else deleteButtons" class="ButtonsContainer">
        <app-arrow-animated-button class="Button" (click)="NewListPressed()">
            New List
        </app-arrow-animated-button>
        <app-arrow-animated-button class="Button"(click)="EditListPressed()">
            Edit
        </app-arrow-animated-button>
        <app-arrow-animated-button class="Button" (click)="DeletePressed()">
            Delete
        </app-arrow-animated-button>
    </div>
    <ng-template #deleteButtons>
       <div class="ButtonsContainer">
        <button class="AnimatedButton" (click)="CancelPressed()">
            Cancel
        </button>
        <button class="WarnButton" (click)="DeleteConfirmedPressed()">
            Delete
        </button>
    </div>
    </ng-template>
</div>