<app-scroll-view>
    <div class="GridContainer">
        <app-list-card></app-list-card>
        <app-list-card></app-list-card>
        <app-list-card></app-list-card>
        <app-list-card></app-list-card>
        <app-list-card></app-list-card>
        <app-list-card></app-list-card>
        <app-list-card></app-list-card>
        <app-list-card></app-list-card>
        <app-list-card></app-list-card>
        <app-list-card></app-list-card>
        <app-list-card></app-list-card>
        <app-list-card></app-list-card>
    </div>
</app-scroll-view>