<form [formGroup]="listInfoForm" (ngSubmit)="Submit()" class="MainContainer" >


    <div class="Container">
        <label class="Label" for="Caption">Caption</label>
        <input class="CaptionInput Caption TextContainer" type="text" formControlName="caption">
        
        <p class="ErrorMsg TextError" 
        *ngIf="(listInfoForm.controls['caption'].dirty || listInfoForm.controls['caption'].touched)
                && listInfoForm.controls['caption'].errors?.required">

            -Required
        </p>
    </div>

    <div class="Container">
        <label class="Label" for="Description">Description</label>
        <textarea class="DescriptionTextArea Description TextContainer" type="" formControlName="description">
        </textarea>
        
        <p class="ErrorMsg TextError" 
        *ngIf="(listInfoForm.controls['description'].dirty || listInfoForm.controls['description'].touched) 
                && listInfoForm.controls['description'].errors?.required">

            -Required
        </p>
        
        <p class="ErrorMsg TextError" 
        *ngIf="(listInfoForm.controls['description'].dirty || listInfoForm.controls['description'].touched) 
                && listInfoForm.controls['description'].errors?.minlength">

            -Description should have atleast 30 characters
        </p>

        <p class="ErrorMsg TextError"
        *ngIf="(listInfoForm.controls['description'].dirty || listInfoForm.controls['description'].touched) 
                && listInfoForm.controls['description'].errors?.validateWordsError">

            -Description should have atleast 10 words
        </p>
    </div>

    <!--  Icon and Color pickers -->
    <div class="IconAndColorContainer">
        <div class="SelectorContainer">
            <label class="Label">Icons</label>
            <mat-form-field class="FormField" style="width: 70px;">
                <mat-select class="Select IconSelect TextContainer" disableOptionCentering panelClass="iconsPanelClass"
                    disableRipple formControlName="icon">
                    <mat-option *ngFor="let icon of icons" [ngClass]="(theme$|async)!" class="Option" value="{{icon}}"
                        style="font-size:15px;">
                        {{icon}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <p class="ErrorMsgSmall" 
            *ngIf="(listInfoForm.controls['icon'].dirty || listInfoForm.controls['icon'].touched) 
                    && listInfoForm.controls['icon'].errors?.required">

                -Required
            </p>
        </div>
        <div class="SelectorContainer">
            <label class="Label">Colors</label>
            <mat-form-field class="FormField" style="width: 220px">
                <mat-select class="Select ColorSelect TextContainer" disableOptionCentering
                    panelClass="colorsPanelClass" disableRipple formControlName="color">
                    <mat-option *ngFor="let color of colors" [ngClass]="(theme$|async)!" class="Option"
                        value="{{color}}" style="font-size:15px;" [style.color]="color">
                        {{color}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <p class="ErrorMsg" 
            *ngIf="(listInfoForm.controls['color'].dirty || listInfoForm.controls['color'].touched) 
                    && listInfoForm.controls['color'].errors?.required">
                    
                -Required
            </p>
        </div>
    </div>
    <div class="SubmitButtonContainer">
        <button [disabled]="!listInfoForm.valid" class="AnimatedButton SubmitButton">
            {{routeParam === "-1" ? "Create List" : "Edit List"}}
        </button>
    </div>
    <!--  Icon and Color pickers -->
</form>