<app-scroll-view>
   <div class="HomeContainer">
       <div class="TitleContainer">
       <h1>Todos app</h1>
       <h2>by Ido Amar</h2>
       <h3> 16/06/2021 </h3>
       <div class="ButtonsContainer">
           <app-arrow-animated-button (click)="onCreateClicked()">Create new list</app-arrow-animated-button>
           <app-arrow-animated-button (click)="onViewListsClicked()">View all lists</app-arrow-animated-button>
           <app-arrow-animated-button (click)="onViewItemsClicked()">View all items</app-arrow-animated-button>
       </div>
    </div>
    <app-status-displayer class="StatusDisplayer">
       
    </app-status-displayer>
   </div>
</app-scroll-view>