:host{
    display: grid;
    background-color: var(--app-primary-medium-low);
    border-bottom: 1px solid var(--app-main-foreground);
    transition: var(--app-transition-time);
}

.Conatiner{
    display: flex;
    padding-left:10px;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--app-main-foreground);

}
.FormContainer{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
}
.Icon{
    align-self: center;
    width: 28px;
    height: 28px;
    font-size: 28px;
    margin-right: 20px;
    transition: var(--app-transition-time);
    
}

input{
    font-size: 20px;
    align-self: center;
}
.AddButton{
    font-size: 24px;
    font-family: "Material Icons";
}
.ErrorMsg{
    font-size: 20px;
}
