<div class=" NavBar">
    <div class="FirstSeperator"></div>

    <app-text-button class="TextButton" (click)="onHomeButtonClicked()" routerLink="/Home">
        Home
    </app-text-button>

    <div class="Seperator"></div>

    <app-text-button class="TextButton" (click)="onListsButtonClicked()">
        Lists
    </app-text-button>

    <div class="Seperator"></div>

    <app-text-button class="TextButton" (click)="onItemsButtonClicked()">
        Items
    </app-text-button>

    <div class="Seperator"></div>

    <app-toggler class="ThemeToggler" (TogglerClicked)="ThemeToggled()" ></app-toggler>
</div>